aiosqlite==0.19.0
databases==0.7.0
Faker==19.3.0
fastapi==0.101.1
greenlet==2.0.2
Jinja2==3.1.2
passlib==1.7.4
Pillow==10.0.0
PyJWT==2.8.0
python-dateutil==2.8.2
python-multipart==0.0.6
SQLAlchemy==1.4.49
uvicorn==0.23.2
starlette==0.27.0
aiogram==2.25.1
pydantic==2.1.1
auth~=0.5.3
crud~=0.1
pdf~=2020.11.12
utils~=1.0.1
chatgpt~=2.2212.0
openai~=0.28.1
Pyrogram~=2.0.106
telebot~=0.0.5
bcrypt
